body{
  margin:0;
  text-align:center;
  font-family:verdana, sans-serif;
  color: #40514E;
}
h1{
color: #66BFBF;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;


}
h2{
  color: #66BFBF;
  font-family: 'Merriweather', serif;
font-size: 2.55rem;
font-weight: normal;
padding-bottom: 10px;

}
h3{
  color: #11999E;
}
p{
  font-family: Montserrat;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
a{
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;

}
a:hover{
  color: #eaf6f6;
}

.top-container{
  background-color: #eaf6f6;
  position:relative;
  width: 100%;
  padding-top:100px;



}
.middle-container{
  margin:100px 0;

}
.bottom-container{
  background-color: #66bfbf;
  padding-top: 50px;
padding-bottom: 50px;
}


.top-cloud{
  position: absolute;
  right: 350px;
  top: 40px;


}
.bottom-cloud{
  position:absolute;
  left: 350px;
  top: auto;
  bottom: 350px;
}
.mypic{
    width: 200px;
}
.code-pic{
  width: 35%;
  float:left;
  margin-right: 30px;

}
.chilli-pic{
 width:35%;
 float: right;
 margin-left: 30px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}




.contact {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#66bfbf;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.contact:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.contact:active {
	position:relative;
	top:1px;
}
.copyright{
  font-size:0.75rem;
  color:#ffffff;
}
